:root {
  --m-main: #ff8600;
  --m-orange: #fbc108;
  --m-light-main: #fdf0ee;
  --m-second: #005d9f;
  --m-sucess: #3bc119;
  --m-black: #000;
  --m-gray: #333333;
  --m-gray-2: #474747;
  --m-gray-3: #d2d2d2;
  --m-gray-4: #9c9c9c;
  --m-light-gray: #cacaca;
  --m-white: #ffffff;
  --m-off-white: #f5f5f5;
  --rounded-main: 10px;
}

@media (min-width: 1600px) {
  .container {
    /* max-width: 1520px; */
  }
  .hero-section {
    margin-top: -9px;
    padding-top: 0%;
    padding-bottom: 6%;
    border-radius: 0px 0px 10px 10px;
  }
  .department-img-list {
    /* aspect-ratio: 370/306; */
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1400px) {
  .modal-custom .modal-content {
    width: 85%;
  }
  .sort-modal .box-sort-by {
    width: 40%;
  }
  .card-car-body {
    padding: 1rem 1rem;
  }
  .card-department .card-body {
    padding-left: 0 !important;
  }
  .about-card h4 {
    font-size: 16px;
  }
  h2,
  .h2,
  .badge-ads-details,
  .tabs-details .tab-link,
  .details-txt,
  .details-head,
  .details-item .accordion-button,
  .restaurant-details-txt,
  .tabs a,
  .department-price,
  .department-title,
  .dd-txt,
  .box-sort-booking .ddl-input::placeholder,
  .modal-custom-rating .discound-txt,
  .modal-custom-rating label {
    font-size: 20px;
  }
  .details-item .accordion-body,
  .details-sm-txt,
  .details-btn a,
  .booking-btn a,
  .booking-dd-btn a,
  .btn-saeeh button,
  .btn-outline-saeeh button,
  .search-btn a,
  .contact-btn,
  .call-btn a,
  .cancle-btn a,
  .add-rate-btn a {
    font-size: 16px;
  }
  .banner-txt {
    font-size: 26px;
  }

  .hotel-name {
    width: 40%;
  }
  .card-restaurant-body {
    bottom: 5px;
  }
}

@media (max-width: 1200px) {
  .discound-app,
  .btn-in-details {
    width: 60%;
  }
  .car-tabs {
    width: 100%;
    padding-top: 15px;
  }
  .margin-top-12 {
    margin-top: 10px;
  }
  .padding-row {
    padding-inline: 0%;
  }
  .w-80 {
    width: 100%;
  }
  .tabs-contentt .department-img-list {
    aspect-ratio: 290/306;
  }
  .card-restaurant {
    height: 350px;
  }
}
@media (max-width: 1100px) {
  .navbar-nav .nav-link a {
    padding: 4px 0px;
  }
}
@media (max-width: 992px) {
  .pagination .page-item nav > div:last-child {
    display: flex ;}
    .pagination .page-item nav > div:last-child p {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;}
      .pagination .page-item nav > div a{
        display: none !important;
    }
    .pagination .page-item nav > div:last-child a:first-child,
    .pagination .page-item nav > div:last-child a:nth-child( 2 ),
    .pagination .page-item nav > div:last-child a:nth-last-child( 2 ),
    .pagination .page-item nav > div:last-child a:last-child,
    .pagination .page-item nav > div:last-child a.active,
    .pagination .page-item nav > div:last-child a.disabled {
  
          display: flex !important;
      }


  .login-body {
    width: 100%;
  }
  .box-notifications {
    width: 90%;
    right: 15px;
    top: 80px;
  }
  .modal-content-video {
    height: 350px;
  }
  .modal-video .close-modal {
    top: -12rem;
  }
  .modal-video .modal-content {
    width: 90% !important;
  }
  .play-icon-vid img {
    width: 75px;
    height: 75px;
  }
  .round-box svg {
    width: 25px;
    margin-bottom: 5px;
    height: 25px;
  }
  ul.submenu {
    height: initial;
    max-height: 10em;
    overflow: auto;
    width: 100%;
  }
  .restaurant-details-txt {
    width: 100%;
  }
  .side-menu-btns-box {
    position: absolute;
    background-color: #fff;
    left: 0px;
    padding-block: 25px;
    bottom: 0;
    z-index: 2;
  }
  .side-menu-btns-box .btn-saeeh {
    width: 100%;
    margin-bottom: 10px;
  }
  .side-menu-btns-box .btn-outline-saeeh {
    width: 100%;
  }
  .discound-app {
    width: 100%;
  }
  .all-categories .box-sort-by {
    width: 50%;
  }
  .map-body .search-saeeh {
    padding-right: 45px;
  }
  .car-tabs li {
    width: 49%;
    margin-bottom: 15px;
  }
  .country-image {
    height: 300px;
  }
  .country-container {
    top: 14%;
    width: 80%;
    height: 70%;
  }
  .country-container h2 {
    font-size: 30px;
  }
  .right-container,
  .left-container {
    width: 100%;
  }

  .right-container h2 {
    font-size: 40px;
  }
  .right-container p {
    font-size: 28px;
  }
  .card-department .card-body {
    padding-inline: 0.5rem !important;
  }
  .right-container {
    padding-right: 5rem;
  }
  .tabs-nav-all-booking li {
    width: 33.3%;
    height: 65px;
  }
  .icon-top-select-booking {
    top: 14px;
  }
  .icon-bottom-select-booking {
    top: 26px;
  }
  .box-sort-booking .ddl-input {
    padding-right: 30px;
  }
  .tabs-nav-all-booking li:nth-child(1),
  .tabs-nav-all-booking li:nth-child(2),
  .tabs-nav-all-booking li:nth-child(3) {
    border-bottom: 1px solid var(--m-gray-4);
  }
  .tabs-nav-all-booking li:nth-child(3) {
    border-left: none;
  }
  .tabs-nav-all-booking li:last-child {
    width: 100%;
  }

  .department-img-list.car-image {
    aspect-ratio: 400/306 !important;
  }
  .wizard {
    width: 80%;
  }
  .wizard:before {
    width: 90%;
  }
  .cancel-booking-content {
    width: 90% !important;
  }
  .tabs-nav-details {
    height: 50px;
  }
  .side-map-modal {
    width: 100%;
    border-radius: 10px;
  }
  .w-contact-45 {
    width: 100%;
  }
  .contact-image {
    height: 400px;
  }
  .faq-title {
    text-align: right;
  }
  .contact-container h2 {
    font-size: 30px;
  }
  .contact-container p {
    font-size: 12px;
  }
  .box-sort-by {
    width: 50%;
  }
  .title-map {
    font-size: 20px;
  }

  .search-result {
    font-size: 24px;
  }
  .margin-t-search {
    margin-top: -10rem;
  }
  .slider-container {
    top: 44%;
  }
  .tabs-stage {
    border-radius: 0 0 10px 10px;
  }
  .banner-txt {
    font-size: 20px;
    right: 20px;
  }
  .tabs-nav {
    width: 100%;
  }
  .web-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }
  .banner-image {
    height: 200px;
  }
  .details-sm-txt {
    width: 100%;
  }
  .condition-title {
    width: 80%;
  }
  .list-icons {
    /* justify-content: center; */
  }
  .text-center-mobile {
    text-align: center;
  }
  .center-in-mobile {
    display: flex;
    justify-content: center;
  }
  .google-apps {
    padding: 30px 0px 0 0;
  }
  .google-apps h3 {
    text-align: right;
  }
  .review-card {
    width: 90%;
  }
  .reviews-owl .owl-nav button.owl-prev {
    left: 8%;
  }
  .reviews-owl .owl-nav button.owl-next {
    right: 8%;
  }
  .review-desc p {
    width: 60%;
  }
  /*mobile nav*/
  .header-mobile {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .header-mobile .main-menu > li {
    position: relative;
  }

  .side-menu-logo {
    text-align: right;
    padding-right: 15px;
  }

  .header-logo {
    text-align: right;
  }

  .header-mobile .side-menu-close {
    background: transparent;
  }

  .header-mobile .side-menu-close span {
    /* background: var(--m-gray); */
    width: 30px;
  }

  /* side menu */
  .side-menu-wrap {
    display: none !important;
    width: 300px;
    position: fixed;
    left: -110%;
    top: 0;
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
    box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
    overflow-y: auto;
    z-index: 15000;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }

  .side-menu-wrap.opened {
    display: block !important;
    right: 0;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
  }

  .overlay-mobile {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .side-menu-wrap.opened + .overlay-mobile {
    visibility: visible;
    opacity: 1;
  }

  .side-menu-nav .main-menu {
    padding-top: 70px !important;
  }
  .side-menu-nav .main-menu > li > a {
    color: var(--m-gray-2);
    padding: 15px 20px 5px 10px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    transition: 0.4s;
  }
  .side-menu-nav .main-menu > li > a:hover,
  .side-menu-nav .main-menu > li > a.active {
    color: var(--m-main);
  }

  .menu-mobile {
    background-color: transparent !important;
    border-radius: 10px !important;
    height: 42px !important;
    width: 49px !important;
  }
  .img-logo-mobile {
    /* width: 65px;
    aspect-ratio: 65/65; */
  }
  .side-menu-wrap .side-menu-close {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 34px;
    width: 34px;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  .side-menu-close {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .side-menu-close span {
    height: 2px;
    width: 20px;
    background: var(--m-main);
    position: relative;
    opacity: 1;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }

  .side-menu-close span:nth-child(1) {
    top: -5px;
  }

  .side-menu-close span:nth-child(3) {
    bottom: -5px;
  }

  .side-menu-close.closed span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
    -webkit-transform: translateY(7px) rotate(45deg);
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
  }

  .side-menu-close.closed span:nth-child(2) {
    opacity: 0;
  }

  .side-menu-close.closed span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
  }

  .side-menu-btns {
    font-size: 13px;
    padding-block: 10px;
    border-radius: 25px;
  }

  .side-menu-btns img {
    padding-left: 4px;
  }
  .hero-section {
    margin-top: 0px;
    padding-top: 8%;
    padding-bottom: 15%;
  }
  .hero-section-v2 {
    margin-top: 0px;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
  }
  .title-hero {
    font-size: 36px;
  }
  .text-hero {
    font-size: 26px;
  }
  .accordion-button:not(.collapsed) {
    /* color: var(--m-main); */
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
  }
  .accordion-button::after {
    background-image: none;
    content: none;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: none;
  }
  .accordion-button:not(.collapsed) i {
    /* transform: rotate(180deg); */
  }
  .accordion-button {
    padding: 0.5rem 1.25rem;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-body {
    padding: 0.5rem 1.25rem;
  }
  .submenu li a {
    color: var(--m-gray-2);
  }

  .side-login-image {
    width: 100%;
    background: url(../images/login-bg-mobile.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    height: 300px;
  }
  .side-help-image {
    width: 100%;
    background: url(../images/help-bg-mobile.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    height: 200px;
  }
  .side-resto-image {
    width: 100%;
    background: url(../images/resto-modal-image.svg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: 280px;
  }
  .login-content,
  .help-content,
  .resto-modal-content {
    width: 100%;
    order: 2;
  }
  .login-body ,.help-body{
    display: flex;
    flex-direction: column;
  }
  .close-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 43px;
    height: 43px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  .close-modal svg {
    width: 18px;
  }
  .close-modal svg path {
    fill: var(--m-main);
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .thumbnail {
    margin-bottom: 10px;
    width: 25%;
    margin-left: 10px;
  }
  #slides {
    height: 350px;
  }
  .tabs-nav-details li {
    padding-inline: 15px;
  }

  .rating-see-btn {
    margin-top: 20px;
  }
  .reviews-title {
    width: 70%;
  }
  .modal-sort-by .modal-dialog {
    max-width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0% auto;
    height: 100%;
    width: 100%;
  }

  .modal-sort-by form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .modal-sort-by label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
  }
  .modal-sort-by label input {
    position: absolute;
    right: -9999px;
  }

  .modal-sort-by label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em var(--m-second);
  }
  .modal-sort-by label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
  }

  .modal-sort-by label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-left: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em var(--m-second);
  }
  .modal-sort-by .modal-header .btn-close {
    margin: -0.5rem auto -0.5rem -0.5rem;
  }

  .modal-sort-by .modal-content {
    border-radius: 28px 28px 0 0;
    border: 0;
    padding-bottom: 30px;
    width: 100% !important;
  }

  .contact-map-title {
    font-weight: 700;
    font-size: 40px;
  }
  .hide_mobile {
    display: none !important;
  }
  .show_mobile {
    display: block !important;
  }

  .filter_icon {
    display: block;
    font-size: 16px;
    color: var(--m-second);
    cursor: pointer;
    padding: 0 0 5px 0;
  }

  .filter_icon i {
    color: var(--m-second);
    font-size: 20px;
  }

  body.openFilter {
    overflow-y: hidden;
  }
  .filter {
    position: fixed;
    background: #fff;
    width: 300px;
    max-width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: translate(500px, 0);
    transition: transform 250ms ease-in-out;
    z-index: 1200;
    max-height: 100%;
    overflow-y: auto;
  }

  body.openFilter .filter {
    transform: translate(0, 0);
  }

  .filter__header {
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 15px 15px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .filter__header .filter__text {
    float: right;
  }

  .lightbox-filter {
    position: fixed;
    background: #00000059;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 250ms ease-in-out, width 0ms ease-in-out 250ms;
  }

  body.openFilter .lightbox-filter {
    width: 100%;
    opacity: 0.8;
    transition: opacity 250ms ease-in-out, width 0ms ease-in-out;
  }

  .filter-title {
    border-radius: 0;
  }

  .department-list-pagination .page-item .page-link {
    font-size: 14px;
    width: 35px;
    height: 35px;
  }
  .department-badge {
    width: 70px;
    height: 40px;
    font-size: 20px;
  }
  .booking-now-btn {
    width: 50%;
  }
  .gallery-list-mobile {
    overflow-y: visible;
    overflow-x: auto;
  }
  #gallery {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    overflow-y: visible;
    overflow-x: auto;
    width: 100%;
    min-width: 70vw;
  }
  .thumbnail {
    position: relative;
    margin-bottom: 10px;
    width: 100px;
    height: 60px;
    margin-left: 5px;
  }
  #gallery img {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .help-content label {
    font-size: 14px;
    line-height: 22px;}
    .txtarea-booking {
      padding: 0.5rem !important;}

      .login-body input::placeholder,.help-body input::placeholder {
        font-size: 14px;
      }
      .wizaredd {
        padding-top: 20px;
      }
      .wizaredd .booking-now-btn {
        width: 40%;
    }
}
@media (max-width: 768px) {
  .pagination .page-item nav > div:last-child {
    display: block ;}
  .pagination .page-item nav > div:last-child span:last-child {
    box-shadow: none !important;
    display: flex !important;
    justify-content: center;
}
  .hotel-owl .owl-stage-outer {
    padding-top: 0px;
  }
  .footer-title {
    font-size: 18px;
  }
  .review-owl button.owl-dot {
    width: 10px;
    height: 10px;
  }
  .footer-top .links-list li a {
    font-size: 16px;
  }
  .desk-view {
    display: none !important;
  }
  .mob-view {
    display: block !important;
  }
  .footer-top .links-list li {
    display: inline-block;
    width: 45%;
  }
  .google-apps {
    padding: 0;
    padding-right: 2rem;
  }
  .list-customer {
    list-style-image: url("../../assets/images/arrow-footer-mob.svg");
    list-style-position: inside;
  }
  .links-list li {
    background-image: url("../../assets/images/arrow-footer-mob.svg");
  }
  .footer-google-app img {
    width: 35px;
    aspect-ratio: 35 / 35;
  }
  .link-time {
    font-size: 14px;
  }
  .footerSocialIcons {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .modal-goto .modal-dialog {
    margin: 5% auto;
    height: unset;
  }
  .logo-footer {
    height: 90px;
    margin-bottom: 15px;
  }
  .side-resto-image {
    background-size: inherit;
  }
  .modal-custom-rating .modal-content {
    width: 80%;
  }
  .sort-modal .box-sort-by {
    width: 60%;
  }
  .sort-modal {
    width: 100%;
  }
  .modal-custom-rating .rating-close {
    width: 50px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    right: -3.7rem;
    top: 10rem;
  }
  .rating-modal-txt {
    font-size: 16px;
  }
  .country-container h2,
  .country-title {
    font-size: 20px;
  }
  .resro-image {
    height: 240px;
  }
  .details-rest-btn {
    margin-block: 15px;
  }
  .cancel-booking-body svg {
    width: 130px;
  }
  .cancel-booking-title {
    font-size: 26px;
  }
  .round-box {
    width: 150px;
    height: 150px;
  }
  .review-title {
    font-size: 24px;
    text-align: center;
  }
  .review-txt {
    text-align: center;
    font-size: 16px;
  }
  .reviews-content {
    padding-right: 0;
  }
  .badge-filter {
    margin-left: 0px;
  }
  .card-notification h2 {
    font-size: 16px;
  }
  .wizard {
    width: 95%;
  }
  .wizard-item-text {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .booking-main-img {
    height: 450px;
  }
  .badge-ads-details {
    width: 200px;
    font-size: 16px;
  }
  .booking-now-btn {
    font-size: 16px;
  }
  .summary-price {
    font-size: 24px;
  }

  /* .department-img-list {
    aspect-ratio: unset;} */
  .modal-custom .modal-content {
    width: 85%;
  }
  .box-sort-by {
    width: 100%;
  }
  .result-count {
    margin-top: 20px;
    text-align: center;
  }
  .close-side-filter {
    padding: 20px;
    font-size: 22px;
    color: var(--m-second);
  }
}
@media (max-width: 578px) {
  .wizaredd {
    padding-top: 0px;
  }
  .wizaredd .booking-now-btn{
    width: 100%;
  }
  .side-help-image {
    height: 120px;
  }
  .breadcrumb-item a,
  .breadcrumb li {
    font-size: 14px;
  }
  .hotel-details {
    top: -5px;
  }
  .isim h1 {
    font-size: 16px;
  }
  .link-time img {
    height: 24px;
    aspect-ratio: unset;
  }
  .footer-title,
  .google-apps h3,
  .isim p {
    font-size: 14px;
  }
  .review-owl .owl-stage {
    padding-top: 14px;
    padding-bottom: 40px;
  }
  .card-yazı p {
    padding: 30px 30px 50px;
    font-weight: 600;
    font-size: 14px;
  }
  .google-apps {
    padding-right: 1rem;
  }
  .sort-modal .box-sort-by {
    width: 100%;
    margin-top: 15px;
  }
  .booking-main-img {
    height: 350px;
  }
  .tabs-contentt .department-img-list {
    aspect-ratio: 290/240;
  }
  #gallery {
    min-width: 95vw;
  }
  .tabs-in-mobile {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--m-light-gray);
    border-bottom: 0;
    height: 80px;
  }
  .tabs-in-mobile li {
    padding-inline: 0;
    width: 33.333%;
  }
  .tabs-in-mobile li:nth-child(3) {
    border-left: none;
  }
  .tabs-in-mobile li:nth-child(4),
  .tabs-in-mobile li:nth-child(5) {
    border-top: 1px solid var(--m-light-gray);
    width: 50%;
  }
  .tabs-in-mobile .tab-active:nth-child(3) {
    border-radius: 10px 0 0 0;
  }
  .tabs-in-mobile .tab-active:last-of-type {
    border-radius: 0;
  }
  .container,
  .container-fluid {
    width: 90% !important;
  }
  .all-categories .box-sort-by {
    width: 100%;
    margin-top: 15px;
  }
  .btn-footer-auth ,.btn-out-footer-auth {
    
    width: 48%;}

  h2,
  .h2,
  .badge-ads-details,
  .tabs-details .tab-link,
  .details-txt,
  .details-head,
  .details-item .accordion-button,
  .restaurant-details-txt,
  .tabs a,
  .department-price,
  .department-title,
  .dd-txt,
  .box-sort-booking .ddl-input::placeholder {
    font-size: 18px;
  }
  .search-country::placeholder {
    font-size: 14px;
  }

  .country-container {
    width: 90%;
    padding-right: 1rem;
  }
  .left-container {
    height: 350px;
  }
  .right-container {
    padding-right: 1rem;
    padding-left: 2rem;
  }
  .right-container::after {
    content: unset;
  }
  .search-country {
    height: 60px;
  }
  .search-c-icon {
    left: 10px;
    top: 7px;
    width: 45px;
    height: 45px;
  }

  .slide-btn {
    height: 45px;
    width: 45px;
  }
  .prev-slide {
    left: 5px;
  }
  .next-slide {
    right: 5px;
  }
  .department-badge {
    width: 60px;
    height: 34px;
    font-size: 16px;
  }
  .reviews-contentt .padding-right {
    padding-right: 0px;
  }
  .reviews-title {
    width: 100%;
  }

  .booking-now-btn {
    margin-top: 20px;
    width: 60%;
  }
  .booking-now-btn a,
  .rating-see-btn a {
    font-size: 16px;
  }
  .tabs-details .tab-link,
  .details-txt,
  .details-head,
  .details-item .accordion-button,
  .restaurant-details-txt,
  .tabs a,
  .department-price,
  .department-title,
  .dd-txt {
    font-size: 14px;
  }
  .custom-ul-list-item {
    font-size: 14px;
    padding-right: 24px;
  }
  .custom-ul-list-item::before {
    width: 6px;
    height: 6px;
  }
  .summary-price {
    font-size: 20px;
  }
  .margin-t-search {
    margin-top: -5rem;
  }
  .slider-container {
    top: 17%;
  }
  .hero-section-image {
    height: 280px;
  }
  .hero-section-image img {
    object-fit: cover;
  }
  .btn-saeeh button,
  .btn-outline-saeeh button,
  .details-rest-btn a {
    font-size: 16px;
  }
  .padding-row {
    padding-inline: 15%;
  }
  .about-card {
    padding: 15px;
  }
  .side-login-image {
    height: 115px;
  }
  .login-title {
    font-size: 18px;
    margin-bottom: 10px !important;
  }

  .login-body input::placeholder,
  .forgit-password a,
  .user-links {
    font-size: 14px;
  }
  .btn-login {
    font-size: 16px;
  }

  .btn-outline-saeeh,
  .btn-saeeh {
    height: 40px;
    font-size: 14px;
  }
  .btn-saeeh a,
  .btn-outline-saeeh a,
  .cart-count,
  .ddl-input,
  .about-card p {
    font-size: 14px;
  }

  .tabs a {
    padding: 8px 20px;
    font-weight: 500;
    font-size: 18px;
  }
  .hero-section {
    padding-top: 8%;
    padding-bottom: 32%;
  }

  .text-center-mobile {
    text-align: center;
    width: 100%;
  }
  .review-owl .owl-nav button.owl-prev {
    left: -20px !important;
  }
  .review-owl .owl-nav button.owl-next {
    right: -20px !important;
  }
  .reviews-owl .owl-nav button.owl-prev {
    left: 3% !important;
  }
  .reviews-owl .owl-nav button.owl-next {
    right: 3% !important;
  }
  .title-hero {
    font-size: 24px;
  }
  .footer-top .links-list li a,
  .list-customer,
  .about-card h4 {
    font-size: 14px;
  }
  .footer-title,
  .google-apps h3 {
    font-size: 16px;
  }
  .text-hero {
    font-size: 16px;
  }
  h2,
  .h2 {
    font-size: 16px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: 0px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0px;
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    width: 50px;
    height: 50px;
  }
  .position-department {
    font-size: 18px;
  }
  .add-rate-btn {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .tabs-nav-details li {
    padding-inline: 10px;
  }

  .tabs-details .tab-link {
    font-size: 14px;
  }
  .country-container h2,
  .country-title {
    font-size: 16px;
    padding-top: 15px;
  }
  .discound-txt {
    font-size: 14px;
  }
  .car-tabs li {
    width: 100%;
  }
  .left-container {
    height: 270px;
  }
  .right-container h2 {
    font-size: 24px;
  }
  .right-container p {
    font-size: 14px;
  }
  .country-image {
    height: 230px;
  }
  .btn-footer-auth a,
  .btn-out-footer-auth a {
    font-size: 14px;
  }
  .search-country {
    height: 45px;
    padding-right: 20px;
  }

  .search-c-icon svg {
    width: 20px;
  }
  .search-c-icon {
    left: 8px;
    top: 5px;
    width: 35px;
    height: 35px;
  }
  .span-14 {
    font-size: 14px;
  }
  .tabs-nav-detaills {
    display: block !important;
  }
  .tabs-nav-detaills li {
    margin-bottom: 10px !important;
  }
  .display-block-mobile {
    display: block !important;
  }
  .display-block-mobile .details-btn {
    margin-top: 15px !important;
  }
  #slides {
    height: 240px;
  }
  .slide-btn {
    top: 40%;
  }
}
@media (max-width: 380px) {
  h2,
  .h2,
  .badge-ads-details,
  .details-txt,
  .details-head,
  .details-item .accordion-button,
  .restaurant-details-txt,
  .tabs a,
  .department-price,
  .department-title,
  .dd-txt,
  .text-restaurant,
  .box-sort-booking .ddl-input::placeholder,
  .modal-custom-rating .discound-txt,
  .modal-custom-rating label {
    font-size: 16px;
  }
  .details-item .accordion-body,
  .details-sm-txt,
  .details-btn a,
  .booking-btn a,
  .booking-dd-btn a,
  .btn-saeeh button,
  .btn-outline-saeeh button,
  .search-btn a,
  .contact-btn,
  .call-btn a,
  .cancle-btn a,
  .boxx-txt,
  .details-rest-btn a,
  .add-rate-btn a {
    font-size: 14px;
  }

  .condition-title {
    width: 100%;
  }
  .wizard-item-text {
    font-size: 12px;
  }
  .wizard-item svg {
    width: 18px;
  }

  .details-btn {
    width: 100%;
  }
  .booking-data {
    width: 50%;
  }
  .dd-txt {
    font-size: 16px;
  }
  .pagination .page-item nav > div:last-child a, [aria-current="page"] span, [aria-disabled="true"] span {
    font-size: 14px;
    width: 30px;
    height: 30px;}

}
@media (max-width: 340px) {
  .booking-now-btn {
    width: 95%;
  }
  h2,
  .h2,
  .badge-ads-details,
  .details-txt,
  .details-head,
  .details-item .accordion-button,
  .restaurant-details-txt,
  .tabs a,
  .department-price,
  .department-title,
  .dd-txt,
  .dd-txt,
  .text-restaurant,
  .box-sort-booking .ddl-input::placeholder,
  .booking-now-btn a,
  .rating-see-btn a,
  .modal-custom-rating .discound-txt,
  .modal-custom-rating label {
    font-size: 14px;
  }
  .details-item .accordion-body,
  .details-sm-txt,
  .details-btn a,
  .booking-btn a,
  .booking-dd-btn a,
  .btn-saeeh button,
  .btn-outline-saeeh button,
  .search-btn a,
  .contact-btn,
  .call-btn a,
  .cancle-btn a,
  .boxx-txt,
  .details-rest-btn a,
  .tabs-details .tab-link,
  .add-rate-btn a {
    font-size: 12px;
  }
}
